.Vacancies {
    width: 560px;
    height: 68px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #41a0db;
}

.To-get-a-feel-for-wh {
    width: 1000px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #4d4d4d;
}

.Rectangle-Vacancy {
    width: 1000px;
    height: 237px;
    box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Job-Title {
    width: 75px;
    height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #4d4d4d;
}

.Job-Description {
    width: 960px;
    height: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #4d4d4d;
}

.Job-Location {
    width: 161px;
    height: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
}

.Salary {
    width: 212px;
    height: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
}

.Field-Label {
    width: 90px;
    height: 19px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
}

.Regular-Field {
    width: 490px;
    height: 50px;
    border: solid 1px #e9e9e9;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.Description-Field {
    width: 1000px;
    height: 216px;
    border: solid 1px #e9e9e9;
    background-color: #ffffff;
}