@page
@model IndexModel
@{
    ViewData["Title"] = "Vacancies";
}

<div class="text-center">
    <h1 class="display-4">Vacancies</h1>
    <p>Click on the Vacancies menu at the top to begin!</a></p>
</div>
